/* Variables */
:root{
    --black: #090a10;
    --green: #a8cea6;
    --blue: #c9e3fb;
    --pink: #f5c2b7;
    --white: #fffffe;
}


* {
    font-family: serif;
    color: var(--black);
}

body {
    background-color: white !important;
}

h1, h2, h3 {
    font-weight: 500;
}

h1 {
    font-weight: 600;
}

.mainDiv {
    max-width: 1100px;
    margin: auto;
    background-color: white;
}

.nav-item{
    margin: 0px 10px;
}

